Repository sanketio/world-clocks: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint-style, npm run lint-js, ./vendor/bin/phpcs

Configure eslint
  .eslintignore
  .eslintrc
  includes/blocks/clock/index.js
  includes/blocks/clocks/edit.js
  includes/blocks/clocks/index.js
  includes/blocks/clocks/save.js
  includes/blocks/clocks/variations.js
  package-lock.json
  package.json
  webpack.config.js
Due: npm run lint-js

Configure stylelint
  .eslintrc.json
  .lintstagedrc.json
  .stylelintrc.json
  package-lock.json
  package.json
Due: none

Add variations
  includes/blocks/clocks/edit.js
  includes/blocks/clocks/variations.js
Due: npm run lint-js

Set default variation
  includes/blocks/clocks/block.json
  includes/blocks/clocks/edit.js
  includes/blocks/clocks/variations.js
Due: npm run lint-js

Add inspector control
  includes/blocks/clocks/block.json
  includes/blocks/clocks/edit.js
Due: npm run lint-js

Update variations
  includes/blocks/clocks/variations.js
Due: npm run lint-js

Separate icons
  includes/blocks/clocks/edit.js
  includes/blocks/clocks/icons/clock-reverse.js
  includes/blocks/clocks/icons/clock.js
  includes/blocks/clocks/icons/digital-column.js
  includes/blocks/clocks/icons/digital-row.js
  includes/blocks/clocks/variations.js
Due: npm run lint-js

Add layout change setting panel
  .stylelintignore
  includes/blocks/clocks/block.json
  includes/blocks/clocks/edit.js
  includes/blocks/clocks/editor.css
  includes/blocks/clocks/variations.js
  package-lock.json
  package.json
Due: npm run lint-style, npm run lint-js

Fix editor style
  includes/blocks/clocks/editor.css
Due: npm run lint-style

Fix code comments
  includes/blocks/clocks/edit.js
Due: npm run lint-js

Add marks format setting
  includes/blocks/clocks/block.json
  includes/blocks/clocks/edit.js
  includes/blocks/clocks/editor.css
  includes/blocks/clocks/icons/combine.js
  includes/blocks/clocks/icons/line.js
  includes/blocks/clocks/icons/number.js
Due: npm run lint-style, npm run lint-js

Add code comments
  includes/blocks/clocks/edit.js
Due: npm run lint-js

Add visibility settings for clocks block
  includes/blocks/clocks/block.json
  includes/blocks/clocks/edit.js
Due: npm run lint-js

Register helper methods
  includes/blocks.php
  includes/blocks/clock/edit.js
  includes/helpers.php
  wp-clocks.php
Due: npm run lint-js, ./vendor/bin/phpcs

Add timezone selector
  .stylelintrc.json
  assets/css/admin/admin-style.css
  assets/css/global/colors.css
  includes/blocks/clock/block.json
  includes/blocks/clock/edit.js
  includes/blocks/clock/editor.css
  includes/core.php
  includes/helpers.php
  package-lock.json
  package.json
  webpack.config.js
  wp-clocks.php
Due: npm run lint-style, npm run lint-js, ./vendor/bin/phpcs

Add on click event for textbox
  includes/blocks/clock/edit.js
Due: npm run lint-js

Add option to override timezone label
  includes/blocks/clock/block.json
  includes/blocks/clock/edit.js
Due: npm run lint-js

Show digital clock
  includes/blocks/clock/edit.js
  includes/blocks/clock/markup.php
Due: npm run lint-js, ./vendor/bin/phpcs

Add default calues to attributes
  includes/blocks/clock/block.json
Due: none

Fix block insertion
  includes/blocks/clocks/edit.js
Due: npm run lint-js

Add columns CSS class
  includes/blocks/clocks/edit.js
Due: npm run lint-js

Add toggle for 24 hours format
  includes/blocks/clock/edit.js
  includes/blocks/clocks/block.json
  includes/blocks/clocks/edit.js
Due: npm run lint-js

Toggle 24 hours format for inner clocks
  includes/blocks/clock/block.json
  includes/blocks/clock/edit.js
  includes/blocks/clocks/block.json
  includes/blocks/clocks/edit.js
Due: npm run lint-js

Toggle seconds
  includes/blocks/clock/edit.js
Due: npm run lint-js

Toggle digital clocks based on parent block settings
  includes/blocks/clock/edit.js
Due: npm run lint-js

Update time format based on settings for digital clock
  includes/blocks/clock/edit.js
  includes/blocks/clocks/block.json
  includes/blocks/clocks/edit.js
Due: npm run lint-js

Add styling for digital clocks
  includes/blocks/clocks/block.json
  includes/blocks/clocks/edit.js
  includes/blocks/clocks/style.css
  includes/core.php
Due: npm run lint-style, npm run lint-js, ./vendor/bin/phpcs

Update font-style for digital clocks
  includes/blocks/clocks/style.css
Due: npm run lint-style

Add default Analog clock
  assets/css/global/colors.css
  includes/blocks/clock/edit.js
  includes/blocks/clocks/style.css
Due: npm run lint-style, npm run lint-js

Generalize style
  includes/blocks/clocks/style.css
Due: npm run lint-style

Improve code formatting
  includes/blocks/clock/block.json
  includes/blocks/clock/edit.js
  includes/blocks/clock/timezone-selector.js
  includes/blocks/clock/utils.js
  includes/blocks/clocks/block.json
  includes/blocks/clocks/edit.js
  includes/blocks/clocks/style.css
Due: npm run lint-style, npm run lint-js

Update default block attributes
  includes/blocks/clocks/block.json
Due: none

Add toggle to stack clocks on mobile
  assets/css/global/media-queries.css
  includes/blocks/clocks/block.json
  includes/blocks/clocks/edit.js
  includes/blocks/clocks/style.css
Due: npm run lint-style, npm run lint-js

Add responsive style
  includes/blocks/clocks/edit.js
  includes/blocks/clocks/style.css
Due: npm run lint-style, npm run lint-js

Add reverse clock layout
  includes/blocks/clock/edit.js
  includes/blocks/clock/utils.js
  includes/blocks/clocks/style.css
Due: npm run lint-style, npm run lint-js

Toggle AM/PM indicator for clocks
  includes/blocks/clock/edit.js
  includes/blocks/clock/utils.js
  includes/blocks/clocks/style.css
Due: npm run lint-style, npm run lint-js

Toggle marks format for the clocks
  includes/blocks/clock/edit.js
  includes/blocks/clocks/style.css
Due: npm run lint-style, npm run lint-js

Output clocks on the frontend
  assets/css/frontend/style.css
  assets/js/frontend/frontend.js
  assets/js/frontend/utils.js
  includes/blocks/clock/edit.js
  includes/blocks/clock/markup.php
  includes/blocks/clocks/markup.php
  includes/blocks/clocks/style.css
  includes/core.php
  includes/helpers.php
  package.json
  webpack.config.js
Due: npm run lint-style, npm run lint-js, ./vendor/bin/phpcs

Update block namespace
  CHANGELOG.md
  assets/js/frontend/frontend.js
  composer.json
  includes/blocks.php
  includes/blocks/clock/block.json
  includes/blocks/clock/markup.php
  includes/blocks/clock/timezone-selector.js
  includes/blocks/clocks/block.json
  includes/blocks/clocks/edit.js
  includes/blocks/clocks/editor.css
  includes/blocks/clocks/markup.php
  includes/blocks/clocks/style.css
  includes/blocks/clocks/variations.js
  includes/core.php
  includes/helpers.php
  package-lock.json
  package.json
  readme.txt
  world-clocks.php
Due: npm run lint-style, npm run lint-js, ./vendor/bin/phpcs

Update plugin name and settings
  includes/blocks.php
  includes/blocks/clock/block.json
  includes/blocks/clock/edit.js
  includes/blocks/clock/editor.css
  includes/blocks/clock/index.js
  includes/blocks/clock/markup.php
  includes/blocks/clock/timezone-selector.js
  includes/blocks/clock/utils.js
  includes/blocks/clocks/block.json
  includes/blocks/clocks/edit.js
  includes/blocks/clocks/icons/world-clocks.js
  includes/blocks/clocks/index.js
  includes/blocks/clocks/markup.php
  includes/blocks/clocks/variations.js
  includes/core.php
  includes/helpers.php
  languages/world-clocks.pot
  languages/wp-clocks.pot
  readme.txt
  world-clocks.php
Due: npm run lint-style, npm run lint-js, ./vendor/bin/phpcs

Path conditions:
  npm run lint-style: any of: *.css
  npm run lint-js: any of: *.js
  ./vendor/bin/phpcs: any of: *.php
