Repository sanketio/world-clocks: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint-style, npm run lint-js, ./vendor/bin/phpcs --standard=phpcs.xml -p -s .

Add language file
  composer.json
  includes/blocks/clocks/edit.js
  includes/helpers.php
  languages/world-clocks.pot
  package.json
  readme.txt
  world-clocks.php
Due: npm run lint-js, ./vendor/bin/phpcs --standard=phpcs.xml -p -s .

Update npm dependencies
  package-lock.json
  package.json
Due: none

Separate styles
  assets/css/global/media-queries.css
  includes/blocks/clock/block.json
  includes/blocks/clock/edit.js
  includes/blocks/clock/style.css
  includes/blocks/clocks/style.css
Due: npm run lint-style, npm run lint-js

Fix manual offset timezones
  assets/js/frontend/frontend.js
  assets/js/frontend/utils.js
  includes/blocks/clock/edit.js
  includes/blocks/clock/utils.js
Due: npm run lint-js

Allow manual time format values
  assets/js/frontend/frontend.js
  assets/js/frontend/utils.js
  includes/blocks/clock/block.json
  includes/blocks/clock/edit.js
  includes/blocks/clock/markup.php
  includes/blocks/clock/utils.js
  includes/blocks/clocks/block.json
  includes/blocks/clocks/edit.js
  includes/blocks/clocks/markup.php
  includes/core.php
  includes/helpers.php
  package-lock.json
  package.json
Due: npm run lint-js, ./vendor/bin/phpcs --standard=phpcs.xml -p -s .

Fix time format with all the possible formats
  assets/js/frontend/frontend.js
  assets/js/frontend/utils.js
  assets/js/utils.js
  includes/blocks/clock/edit.js
  includes/blocks/clock/utils.js
  includes/blocks/clocks/edit.js
  includes/blocks/clocks/editor.css
  includes/helpers.php
Due: npm run lint-style, npm run lint-js, ./vendor/bin/phpcs --standard=phpcs.xml -p -s .

Update function parameters
  assets/js/frontend/frontend.js
  assets/js/utils.js
  includes/blocks/clock/edit.js
Due: npm run lint-js

Add default date format parameter
  assets/js/utils.js
Due: npm run lint-js

Add toggle for date
  includes/blocks/clocks/block.json
  includes/blocks/clocks/edit.js
  includes/blocks/clocks/markup.php
Due: npm run lint-js, ./vendor/bin/phpcs --standard=phpcs.xml -p -s .

Toggle date with formats
  assets/js/frontend/frontend.js
  includes/blocks/clock/block.json
  includes/blocks/clock/edit.js
  includes/blocks/clock/markup.php
  includes/blocks/clock/style.css
Due: npm run lint-style, npm run lint-js, ./vendor/bin/phpcs --standard=phpcs.xml -p -s .

Add workflow files
  .distignore
  .github/workflows/build-release-zip.yml
  .github/workflows/dependency-review.yml
  .github/workflows/push-asset-readme-update.yml
  .github/workflows/push-deploy.yml
  .github/workflows/repo-automator.yml
  .github/workflows/wordpress-version-checker.yml
  .wordpress-version-checker.json
  README.md
Due: none

Update readme.txt file
  .wordpress-org/banner-1544x500.png
  .wordpress-org/banner-772x240.png
  .wordpress-org/icon-128x128.png
  .wordpress-org/icon-256x256.png
  .wordpress-org/icon.svg
  readme.txt
Due: none

Add blueprint data
  .wordpress-org/blueprints/blueprint.json
  .wordpress-org/blueprints/demo-data.xml
Due: none

Fix demo data file for blueprint
  .wordpress-org/blueprints/blueprint.json
Due: none

Conditionally load required CSS/JS files
  .github/workflows/build-release-zip.yml
  .github/workflows/push-asset-readme-update.yml
  .github/workflows/repo-automator.yml
  .github/workflows/wordpress-version-checker.yml
  includes/core.php
  readme.txt
Due: ./vendor/bin/phpcs --standard=phpcs.xml -p -s .

Update block markup files with condition
  includes/blocks/clock/markup.php
  includes/blocks/clocks/markup.php
Due: ./vendor/bin/phpcs --standard=phpcs.xml -p -s .

Update readme.txt
  readme.txt
Due: none

Update readme files
  .github/workflows/push-deploy.yml
  CHANGELOG.md
  readme.txt
Due: none

Update readme
  CONTRIBUTING.md
  readme.txt
Due: none

Fix analog time format
  assets/js/utils.js
Due: npm run lint-js

Update plugin version to v1.0.1
  CHANGELOG.md
  languages/world-clocks.pot
  package-lock.json
  package.json
  readme.txt
  world-clocks.php
Due: ./vendor/bin/phpcs --standard=phpcs.xml -p -s .

Update block editor style
  includes/blocks/clocks/editor.css
Due: npm run lint-style

Update plugin to v1.0.2
  CHANGELOG.md
  languages/world-clocks.pot
  package-lock.json
  package.json
  readme.txt
  world-clocks.php
Due: ./vendor/bin/phpcs --standard=phpcs.xml -p -s .

Fix script/style loader
  includes/blocks/clocks/block.json
  includes/core.php
Due: ./vendor/bin/phpcs --standard=phpcs.xml -p -s .

Update NPM packages
  .nvmrc
  package-lock.json
  package.json
Due: none

Update plugin to v1.0.3
  CHANGELOG.md
  languages/world-clocks.pot
  package-lock.json
  package.json
  readme.txt
  world-clocks.php
Due: ./vendor/bin/phpcs --standard=phpcs.xml -p -s .

Upgrade phpcs toolchain to 10up/phpcs-composer 3.0
  composer.json
  composer.lock
  includes/helpers.php
Due: ./vendor/bin/phpcs --standard=phpcs.xml -p -s .

Pin transitive npm dependencies to patched versions
  package-lock.json
  package.json
Due: none

Pin remaining transitive npm dependencies
  package-lock.json
  package.json
Due: none

Remove extract-zip from the dependency tree
  package-lock.json
  package.json
Due: none

Bump Node to 24
  .nvmrc
  package-lock.json
Due: none

Cast boolean data attributes to strings
  includes/blocks/clocks/markup.php
Due: ./vendor/bin/phpcs --standard=phpcs.xml -p -s .

Point viewStyle at the emitted stylesheet
  includes/blocks/clocks/block.json
Due: none

Store IANA identifiers as timezone values
  includes/blocks/clock/edit.js
  includes/blocks/clock/markup.php
  includes/blocks/clock/resolve-timezone.js
  includes/blocks/clock/timezone-selector.js
  includes/helpers.php
Due: npm run lint-js, ./vendor/bin/phpcs --standard=phpcs.xml -p -s .

Release 1.1.0
  CHANGELOG.md
  README.md
  includes/blocks/clock/edit.js
  includes/blocks/clock/resolve-timezone.js
  includes/blocks/clock/timezone-selector.js
  includes/helpers.php
  languages/world-clocks.pot
  package-lock.json
  package.json
  readme.txt
  world-clocks.php
Due: npm run lint-js, ./vendor/bin/phpcs --standard=phpcs.xml -p -s .

Path conditions:
  npm run lint-style: any of: *.css
  npm run lint-js: any of: *.js
  ./vendor/bin/phpcs --standard=phpcs.xml -p -s .: any of: *.php
